<!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
<div class="row">
    <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3" *ngFor="let switch of switches">
            <div class="card-header">Switch {{switch}}</div>
            <div class="card-block table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>match</th>
                            <th>actions</th>
                            <th>length</th>
                            <th>table_id</th>
                            <th>duration_sec</th>
                            <th>duration_nsec</th>
                            <th>priority</th>
                            <th>idle_timeout</th>
                            <th>hard_timeout</th>
                            <th>flags</th>
                            <th>cookie</th>
                            <th>packet_count</th>
                            <th>byte_count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let flow of flowStats[switch]">
                            <td>{{flow.match | json}}</td>
                            <td>
                                <ul>
                                    <li *ngFor="let action of flow.actions">{{action}}</li>
                                </ul>
                            </td>
                            <td>{{flow.length}}</td>
                            <td>{{flow.table_id}}</td>
                            <td>{{flow.duration_sec}}</td>
                            <td>{{flow.duration_nsec}}</td>
                            <td>{{flow.priority}}</td>
                            <td>{{flow.idle_timeout}}</td>
                            <td>{{flow.hard_timeout}}</td>
                            <td>{{flow.flags}}</td>
                            <td>{{flow.cookie}}</td>
                            <td>{{flow.packet_count}}</td>
                            <td>{{flow.byte_count}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>