<svg></svg>
<div id="myModal" class="modal">
  <!-- Modal content -->
	<div class="modal-content">
    	<div class="modal-body">
    		<span class="close">&times;</span>
      		<div *ngIf="!editting">
      			<p>Name: {{selectedNode.nodeName}}</p>
				<p>ID: {{selectedNode.id}}</p>
				<p>Ip Adress: {{selectedNode.nodeIp}}</p>
				<p>Mac Adress: {{selectedNode.nodeMac}}</p>
				<div *ngIf="selectedNode.wireless">
					<p>Interface: {{selectedNode.wireless.intName}}</p>
					<p>Wireless Ip: {{selectedNode.wireless.ipAdd}}</p>
					<p>Wireless Mac: {{selectedNode.wireles}}
					<p>Channel: {{selectedNode.wireless.channel}}</p>
					<p>Power: {{selectedNode.wireless.power}}</p>
					<p>Mode: {{selectedNode.wireless.mode}}</p>
					<p>idth: {{selectedNode.wireless.bw}}</p>
					<p>Bssid: {{selectedNode.wireless.bssid}}</p>
					<p>Bridge: {{selectedNode.wireless.bridge}}</p>
				</div>
     		</div>
     		<div *ngIf="editting">
     			<div class="editInput">
	     			<label for="name">Name: </label>
			      	<input type="text" name="name" [(ngModel)]="selectedNode.nodeName">
				</div>
				<div class="editInput">
			     	<label for="ip">Ip Address: </label>
			      	<input type="text" name="ip" [(ngModel)]="selectedNode.nodeIp">
		      	</div>
		      	<div class="editInput">
			      	<label for="mac">Mac Address: </label>
			      	<input type="text" name="mac" [(ngModel)]="selectedNode.nodeMac">
		      	</div>
		      	<div id="wireless-container" *ngIf="selectedNode.wireless">
		      		<div class="editInput">
			      		<label for="interface">Interface: </label>
			      		<input type="text" name="interface" [(ngModel)]="selectedNode.wireless.intName">
		      		</div>
		      		<div class="editInput">
			      		<label for="wireless-ip">Wireless Ip: </label>
			      		<input type="text" name="wireless-ip" [(ngModel)]="selectedNode.wireless.ipAdd">
		      		</div>
		      		<div class="editInput">
			      		<label for="wireless-mac">Wireless Mac: </label>
			      		<input type="text" name="wireless-mac" [(ngModel)]="selectedNode.wireless.macAdd">
		      		</div>
		      		<div class="editInput">
			      		<label for="channel">Channel Mac: </label>
			      		<input type="text" name="channel" [(ngModel)]="selectedNode.wireless.channel">
		      		</div>
		      		<div class="editInput">
			      		<label for="power">Power: </label>
			      		<input type="text" name="power" [(ngModel)]="selectedNode.wireless.power">
		      		</div>
		      		<div class="editInput">
		      		<label for="mode">Mode: </label>
			      		<select name="mode"  [(ngModel)]="selectedNode.wireless.mode">
			      			<option *ngFor="let value of selectedNode.wireless.modes" [value]="value">{{value}}</option>
			      		</select>
		      		</div>
		      		<div class="editInput">
			      		<label for="bw">Band Width: </label>
			      		<input type="text" name="bw" [(ngModel)]="selectedNode.wireless.bw">
		      		</div>
		      		<div class="editInput">
			      		<label for="bssid">Bssid: </label>
			      		<input type="text" name="bssid" [(ngModel)]="selectedNode.wireless.bssid">
		      		</div>
		      		<div class="editInput">
			      		<label for="bridge">Bridge: </label>
			      		<input type="text" name="bridge" [(ngModel)]="selectedNode.wireless.bridge">
		      		</div>
		      	</div>
			</div>
		<button [hidden]="editting" id="editButton">Edit</button>
      	<button [hidden]="!editting" id="saveButton">Save</button>
	</div>
</div>









		
      	